<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortener</title>
  </head>
  <body>
    <h1>Link Shortener</h1>
    <form action="/url" method="POST">
      <label for="url">Enter your Original URL</label>
      <input type="text" id="url" name="url" placeholder="www.example.com" />
      <button type="submit">Shorten URL</button>
    </form>
    <% if (locals.data) { %>
    <div>
      <h2>Shortened URL:</h2>
      <a href="<%= data.shortUrl %>"><%= data.shortUrl %></a>
    </div>
    <% } %>
  </body>
</html> -->
